body {
    margin: 0px;
    padding: 0px ;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


.sidebar {
    flex: 1;
    height: calc(110vh - 50px);
    background-color:rgb(194 194 244);
    position: sticky;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }
  
.profileinfo {
    display: flex;
    margin-top: 10px;
}

.drinfo {
    padding: 5px;
}

.profilepic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.availability{
    margin-left: 50px;
    border: 1px solid rgb(194 194 244);
    background-color:rgb(194 194 244) ;
    border-radius: 15px;
    height: 55px;
    line-height: 5%;
    font-size: 12px;
    padding: 10px;
}

.earning {
    border : 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    line-height: 30px;
    height: 215px;
}

.earning p {
    font-size: 15px;
}

.reqcol {
    border: 1px solid silver;
    border-radius: 10px;
    line-height: 15px;
    padding: 10px;
    height: 215px;
}

.reqs {
    display: flex;
    justify-content: space-between;
}

.requests {
    border: 1px solid silver;
    border-radius: 10px;
    line-height: 15px;
    padding: 5px;
    margin: 10px;
    height: 65px;
}

.requests h5 {
    font-size: 12px;
}

.requests p {
    font-size: 12px;
}

.react-calendar {
    border-radius: 10px;
    margin-top: 15px;
}
.react-calendar__navigation{
    margin-bottom: 0px !important; 
}
.summary {
    border: 1px solid silver;
    border-radius: 10px;
    line-height: 15px;
    padding: 15px;
    height: 215px;
    line-height: 5px;
}

.appointments {
    border: 1px solid silver;
    border-radius: 10px;
    line-height: 15px;
    padding: 15px;
    height: 285px;
    line-height: 5px;
    margin-top: 15px;
  }
  
  .appointmentTitle {
    font-size: 22px;
    font-weight: 600;
  }
  
  .appointmentTable{
    width: 100%;
    border-spacing: 20px;
    margin-top: 20px;
  }
  
  .appointmentTh{
    text-align: left;
  }
  
  .appointmentimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .appointmentprofile{
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-top: 10px;
  }
  .appointmentReason,.appointmentTime{
    font-weight: 300;
  }
  
  
  .detail_profile {
    display: flex;
    border: 1px solid silver;
    border-radius: 10px;
    line-height: 15px;
    margin: 5px;
    height: 70px;
  }

  .prof_pic {
    width: 75px;
    padding-left: 20px;
    padding-top: 5px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    height: 68px;
    background-color: #c2c2f4;
  }

  .patient_prof {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .patientpage {
    border: 1px solid silver;
  }
  .box{

    width: 500px;
  
    height: 50px;
  
    background-color: white;
  
    border-radius: 30px;
  
    display: flex;
  
    align-items: center;
  
    padding: 20px;
  
  }
  
  .box > i {
    font-size: 20px;
    color: #777;
  }
  
  .box > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
  }
  
  