body {
    margin: 0px;
    padding: 0px ;
    font-family: 'Poppins', sans-serif;
}

.profileinfo {
    display: flex;
}

.drinfo {
    line-height: 30%;
}

.drinfo hr , p {
    font-size: 10px;
}
.profilepic {
    width: 60px;
    height: 60px;
}

.availability{
    border: 1px solid rgb(112, 112, 238);
    background-color:rgb(112, 112, 238) ;
    border-radius: 25px;
    line-height: 30%;
    font-size: 15px;
    padding: 10px;
}

.earning {
    border : 1px solid silver;
}