body {
    margin: 0px;
    padding: 0px ;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}
.profileinfo {
    display: flex;
}

.drinfo {
    padding: 5px;
}

.profilepic {
    width: 60px;
    height: 60px;
}

.availability{
    border: 1px solid rgb(194 194 244);
    background-color:rgb(194 194 244) ;
    border-radius: 25px;
    line-height: 30%;
    font-size: 15px;
    padding: 10px;
}

.earning {
    border : 1px solid silver;
}